.characters {
    margin-left: 50px;
    margin-top:20px;
    border-style: solid;
    padding: 10px 0px 20px 20px;
}

.login, .register {
    margin-left: 50px;
    border-style: solid;
    padding: 10px 0px 20px 20px;
}

.addCharacters {
    margin-left: 50px;
    border-style: solid;
    padding: 10px 0px 20px 20px;
}

.getFrameData {
    margin-left: 50px;
    border-style: solid;
    padding: 10px 0px 20px 20px;
}